/* styles.scss */
@import "assets/css/bourbon/bourbon";
@import "assets/css/neat/neat";
@import "assets/css/neat/neat-helpers";

* { @include box-sizing(border-box); }

/* Fonrts */
@include font-face(miso, "/fonts/miso-webfont");
@include font-face(miso, "/fonts/miso-bold-webfont", bold);

/* Grid settings */
$column: 4em;
$gutter: 1.5em;
$grid-columns: 12;
$max-width: em(1080);


/* Theme */
$blueLight: #b3cfd9;
$blueDark: #71909c;
$lightText: #afd9ea;
$darkText: #367c97;
$baseMargin: 1.0rem;

/* Grid */
div.container {
  @include outer-container;
  @include media(480px, 4);
}

.half-block {
  @include span-columns(6);
}

.half-inline {
  @include span-columns(6, inline-block);
}

.quarter-block {
  @include span-columns(3);
}

.sixt-block {
  @include span-columns(2);
}

/* Base layout styles */
body {
  font-family: Arial;
  color: $darkText;
}

header {
  @include row(block);
  padding: $baseMargin 0;
}

a {
  color: $blueDark;
}

p {
  margin-bottom: $baseMargin;
  font-size: 14px;
  line-height: 1.25rem;
}

section {
  @include row(block);
  @include radial-gradient(50% 0, #f0f0f0 0, #ffffff 20rem);
  padding: ($baseMargin * 4) $baseMargin * 4;
  margin-bottom: $baseMargin;
  border-top: 1px solid #e5e5e5;
}

h2, h3, h4 {
  font-family: miso;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  color: $blueLight;
  margin-bottom: $baseMargin * 3;
}

h3 {
  font-size: 40px;
  color: $blueDark;
  margin-bottom: $baseMargin;

  &.center {
    text-align: center;
  }
}

h4 {
  color: $blueDark;
  margin-bottom: $baseMargin;
}

.plain {
  list-style: none;
  li { display: inline-block; }
}

/* Specific stuff*/

header {
  @include radial-gradient(25% 50%, circle cover, #1ebcda 10%, #0588ba 30%, #0588ba, $fallback: #0588ba);
  overflow: hidden;
  margin-bottom: 0;

  .half-inline {
    padding: $baseMargin;
    vertical-align: middle;
    margin-right:0;
  }

  .blocks {
    &.icons li {
      background-color: #f8f8f8;
    }
  }

  .blocks li {
    list-style-type: none;
    background-color: $lightText;
    padding: 0.75rem;
  }

  .blocks.icons {
    li {
      background-color: #fff;
      margin-bottom: $baseMargin;
    }
    li:last-child {
      margin-bottom: 0;
    }
    li:before {
      background-repeat: no-repeat;
      content: "";
      padding-right:32px;
      font-size:20px;
    }
    .ico-time:before {
      @include retina-image(/img/time, 22px 22px);
    }
    .ico-calendar:before {
      @include retina-image(/img/calendar, 22px 22px);
    }
    .ico-map:before  {
      @include retina-image(/img/map, 22px 22px);
    }
  }
}

nav.meta {
  @include row(block);
  padding: $baseMargin;
  padding-right: 0;
  font-size: 0.75rem;

  a {
    display: inline-block;
    padding: 0 $baseMargin / 2;
  }

  .menu-main {
    color: $lightText;
  }

  .menu-more{
    text-align: right;
  }

  .language {
    font-weight:bold;
  }
}

section.stream {
  background: none;

  .tabs {
    text-align: right;
    a {
      display: inline-block;
      padding: $baseMargin;
      font-family: miso;
      font-size: 38px;
      color: #c0ccd1;
      text-decoration: none;
    }
    .active{
      border-color: #d4dde1;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      color: #71909c;
    }
  }
}

section.about {
  @include linear-gradient(270deg, #0b4359 0%, #165871 30%, #165871 31%, #165871 100%);
  padding:$baseMargin * 2;
  color: $lightText;

  h2 {
    font-size: 2.4rem;
    margin-bottom: $baseMargin * 2;
    color: #fff;
  }
}

.judges h4 {
  font-size:25px;
}

section.partners {
  a {
    padding: $baseMargin / 2;
  }
  img {
    vertical-align: middle;
  }
  div {
    margin-right: 0;
    vertical-align: middle;
  }
}