/* styles.scss */
@import "assets/css/bourbon/bourbon";
@import "assets/css/neat/neat";
@import "assets/css/neat/neat-helpers";

* { @include box-sizing(border-box); }

/* Fonrts */
@include font-face(miso, "/fonts/miso-webfont");
@include font-face(miso, "/fonts/miso-bold-webfont", bold);

/* Grid settings */
$column: 4em;
$gutter: 1.5em;
$grid-columns: 12;
$max-width: em(1080);


/* Theme */
$blueLight: #b3cfd9;
$blueDark: #71909c;
$lightText: #afd9ea;
$lightTitle: #b3cfd9;
$darkText: #367c97;
$baseMargin: 1.0rem;

/* Grid */
div.container {
  @include outer-container;
  @include media(480px, 4);
}

.half-block {
  @include span-columns(6);
}

.half-inline {
  @include span-columns(6, inline-block);
}

.third-block {
  @include span-columns(4);
}

.quarter-block {
  @include span-columns(3);
}

.sixt-block {
  @include span-columns(2);
}

/* Base layout styles */
body {
  font-family: Arial;
  color: $darkText;
}

header {
  @include row(block);
  padding: $baseMargin 0;
}

a {
  color: $blueDark;
}

p {
  margin-bottom: $baseMargin;
  font-size: 14px;
  line-height: 1.25rem;
}

section {
  @include row(block);
  @include radial-gradient(50% 0, #f0f0f0 0, #ffffff 20rem);
  padding: ($baseMargin * 4) $baseMargin * 4;
  margin-bottom: $baseMargin;
  border-top: 1px solid #e5e5e5;
}

h2, h3, h4 {
  font-family: miso;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  color: $blueLight;
  margin-bottom: $baseMargin * 3;
}

h3 {
  font-size: 2.5rem;
  color: $blueDark;
  margin-bottom: $baseMargin;
}

h4 {
  color: $blueDark;
  margin-bottom: $baseMargin;
}

.plain {
  list-style: none;
  li { display: inline-block; }
}

/* Specific stuff*/

header {
  @include radial-gradient(25% 50%, circle cover, #1ebcda 10%, #0588ba 30%, #0588ba, $fallback: #0588ba);
  overflow: hidden;
  margin-bottom: 0;

  .half-inline {
    padding: $baseMargin;
    vertical-align: middle;
    margin-right:0;
  }

  .blocks {
    &.icons li {
      background-color: #f8f8f8;
    }
  }

  .blocks li {
    list-style-type: none;
    background-color: $lightText;
    padding: 0.75rem;
  }

  .blocks.icons {
    li {
      background-color: #fff;
      margin-bottom: $baseMargin;
    }
    li:last-child {
      margin-bottom: 0;
    }
    li:before {
      background-repeat: no-repeat;
      content: "";
      padding-right:32px;
      font-size:20px;
    }
    .ico-time:before {
      @include retina-image(/img/time, 22px 22px);
    }
    .ico-calendar:before {
      @include retina-image(/img/calendar, 22px 22px);
    }
    .ico-map:before  {
      @include retina-image(/img/map, 22px 22px);
    }
  }

  .logo img {
    height: auto;
    max-width: 389px;
    width: 100%;
  }
}

nav.meta {
  @include row(block);
  padding: $baseMargin / 2;
  padding-right: 0;
  font-size: 0.75rem;

  a {
    display: inline-block;
    padding: $baseMargin / 2;
  }

  .menu-main {
    float: left;
    color: $lightText;
  }

  .menu-more {
    float: right;
    text-align: right;
  }

  .language {
    font-weight:bold;
  }
}

section.stream {
  background: none;
  border-top: 0;

  .tabs {
    text-align: right;
    a {
      display: inline-block;
      padding: $baseMargin;
      font-family: miso;
      font-size: 38px;
      color: #c0ccd1;
      text-decoration: none;
    }
    .active{
      border-color: #d4dde1;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      color: #71909c;
    }
  }

  h2 { margin-bottom: 0; }
}

.stream-wrap {
  border: 1px solid #d4dde1;
  padding-top: 3rem;
  clear: both;

  iframe {
    display: block;
    width: 100%;
  }
}

section.about {
  @include linear-gradient(270deg, #0b4359 0%, #165871 30%, #165871 31%, #165871 100%);
  padding:$baseMargin * 2;
  color: $lightText;

  a {
    color: $lightText;
  }

  h2 {
    font-size: 2.3rem;
    margin-bottom: $baseMargin * 2;
    color: #fff;
  }
}

.commits {
  font-size:0;
  .title {
    @include span-columns(1, inline-block);
    font-family: miso;
    font-size:1.25rem;
    color: $darkText;
    vertical-align: baseline;
  }
}

.commits-about,
.commits-about a {
  color: #777;
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

#commits-chart {
  @include span-columns(11, inline-block);
  vertical-align: baseline;
}

section.folks {
  h3 {
    text-align:center;
    margin-bottom: $baseMargin * 4;

    &.folks-jury {
      color: $lightTitle;
    }
  }
}

.judges {
  img {
    height: auto;
    max-width: 154px;
    width: 100%;
    margin-bottom: $baseMargin / 2;
  }
  h4 {
    margin-bottom: $baseMargin / 2;
    font-size: 2rem;
  }
}

.contestants {
  @include row(block);
  margin-bottom: $baseMargin * 4;

  li {
    @include omega(3n);
    margin-bottom: $baseMargin;
  }

  span.img,
  span.details {
    display: inline-block;
    vertical-align: middle;
  }

  span.img {
    margin-right: $baseMargin;
  }

  span.details {
    width: 140px;
  }

  h4,
  h4 a {
    font-size: 1.25rem;
    font-family: miso;
    color: #367c97;
    margin-bottom: 0;
  }

  h5 {
    font-weight: normal;
    font-size: 0.85rem;
    color: #9bbbc8;
  }
}

section.partners {
  a {
    display:inline-block;
    padding: $baseMargin / 2;
  }
  img {
    vertical-align: middle;
  }
  div {
    margin-right: 0;
    vertical-align: middle;
  }
}

/* Media Queries */

@media screen and(max-width: 930px) {
  .contestants .third-block {
    @include span-columns(6);
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .stream-wrap { padding-top: 0;}
  h2 { font-size: 2.2rem; }
  h3 { font-size: 1.8rem; }
}

@media screen and (max-width: 680px) {
  nav.meta {
    font-size: 1.25rem;
    .menu-main { display:none; }
  }
  section { padding: 1rem; }
  section.about {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    h2 { font-size: 1.8rem; }
  }
  section.stream h2 { margin-bottom: $baseMargin; }
  .half-block, .half-inline {
    @include span-columns(12);
  }
  .logo h1 {
    text-align: center;
  }
  .commits {
    .title {
      @include span-columns(12);
      padding-top: 1rem;
      text-align: center;
    }
    .commits-chart {
      @include span-columns(12);
    }
  }
  .judge {
    @include span-columns(12, inline-block);
    text-align:center;
  }
  .contestants {
    .details { text-align: left; }
    .third-block {
      @include span-columns(12, inline-block);
      text-align:center;
    }
  }
}